<div ng-if="cvc.adGroupGrid.data!==undefined" class="alert alert-success slide">
    <md-toolbar>
        <h1 class="md-toolbar-tools">
            <md-button href="#/campaigns" class="">< Back to Campaigns</md-button>
        </h1>
    </md-toolbar>
    <div ui-grid="cvc.adGroupGrid" class="my-grid"
         ui-grid-pagination ui-grid-resize-columns>
    </div>
</div>

<loading-screen ng-if="cvc.adGroupGrid.data==undefined" title="'Getting AdGroups From AdWords...'" timed="true"></loading-screen>
