<!--<h1>Campaigns</h1>-->
<!--<campaign ng-repeat="campaign in cc.campaigns" campaign-info="campaign" ng-click="cc.toggleOnStat(campaign.id)"></campaign>-->
<!--<button type="button" ng-click="cc.getCampaigns()">Get Campaigns</button>-->
<div ng-if="cc.campaignGrid.data!==undefined" class="alert alert-success slide">
    <div ui-grid="cc.campaignGrid" class="my-grid"
         ui-grid-pagination ui-grid-resize-columns>
    </div>
</div>

<loading-screen ng-if="cc.campaignGrid.data==undefined" info="{title: 'Getting Campaigns From AdWords...'}"></loading-screen>

<!-- ui-grid-selection ui-grid-edit -->