<div class="" style="max-width: 1200px; width: 100%">
        <h1>Leads per day (last 30 days)</h1>
        <canvas id="bar" class="chart chart-bar" chart-data="rc.firstGraphData" chart-labels="rc.firstGraphLabels"></canvas>
<br>
        <h1>Leads per quarter (last 30 days)</h1>
        <canvas id="bar2" class="chart chart-bar" chart-data="rc.secondGraphData" chart-labels="rc.secondGraphLabels"></canvas>
<br>
        <h1>Leads per quarter (last 30 days)</h1>
        <label>
                <input type="text" class="form-control" ng-model="rc.thirdGraphSearchTxt"/>
        </label>
        <button class="btn btn-primary" ng-click="rc.getSpecificDay(rc.thirdGraphSearchTxt)">Submit</button>
        <canvas id="bar3" class="chart chart-bar" chart-data="rc.thirdGraphData" chart-labels="rc.thirdGraphLabels"></canvas>
</div>